@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';



// Header
//
// 
//
// Styleguide 1.0.0

/**/

// PE header
//
//  Markup:
//        <div class="usa-banner">
//			<div class="container">
//				<img src="https://18f.gsa.gov/assets/img/global/usa-flag.png" alt="U.S. flag">
//				<p>An official website of the United States government</p>
//			</div>
//		</div>
//
// Styleguide 1.0.1
.usa-banner {
    background-color: #ccc;
    height: 20px;
    .container {
        img {
            float: left;
            margin-right: 10px;
            margin-left: 8px;
            margin-top: 1px;
            max-width: 100%;
            height: 18px;
        }
        p {
            margin: 3px 0;
            display: inline-block;
            font-size: 12px;
        }
    }
}
