@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
// Style Guide
//
// 
//
// Styleguide 1.0.0

// PE Core CSS
//
// Markup:
// Add to main css file
//
// Styleguide 1.0.1
.flex_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flex_col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flex_wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row_center {
    -webkit-align-items: center;
    align-items: center;
}
.justify_left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.justify_right {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.justify_center {
    -webkit-justify-content: center;
    justify-content: center;
}
.split_ends {
    width: 100%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.even_spaced {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.space_around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.position_right {
    right: 0;
}
.position_left {
    left: 0;
}

// PE header
//
//  Markup:
// <header>
//     <div class="header_container flex_row row_center split_ends">
//         <div class="flex_row row_center">
//             <img class="header_logo" src="/assets/img/pe_icon.png" />
//             <div class="header_divider"></div>
//             <div class="header_title">Site Title</div>
//         </div>
//         <div class="flex_row row_center">
//             <a href="" class="header_item">Sign in</a>
//         </div>
//     </div>
// </header>
//
// Styleguide 1.0.2

header {
    font-family: 'Roboto', arial, sans-serif;
    width: 100%;
    background-color: white;
    border-bottom: thin solid #eee;
    .header_container {
        position: relative;
        height: 64px;
        padding: 0 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        .header_logo {
            max-height: 25px;
            width: auto;
        }
        .header_divider {
            height: 25px;
            width: 2px;
            margin: 0 10px;
            background-color: #555;
        }
        .header_title {
            color: #444;
            font-size: 18px;
            font-weight: 400;
        }
        .header_item {
            font-family: 'Roboto', arial, sans-serif;
            color: #888;
            margin: 0 5px;
            text-transform: uppercase;
            display: block;
            padding: 15px;

            &:hover {
                color: #444;
                text-decoration: none;
            }
        }
    }
}

/*core css*/
.flex_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row_center {
    -webkit-align-items: center;
    align-items: center;
}

.split_ends {
    width: 100%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

//PE Jumbo Tron
//
//  Markup:
// <section class="pe_jumbo_tron flex_row row_center justify_center">
//     <div class="pe_jumbo_tron_container">
//         <h1>Item one title</h1>
//          <p>sub item description quisque ut nisi maecenas nec odio et ante tincidunt tempus.</p>
//             <div class="input-group">
//                 <span class="input-group-addon" id="basic-addon1">@</span>
//                 <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
//             </div>
//     </div>
// </section>
//
// Styleguide 1.0.3
.pe_jumbo_tron {
    position: relative;
    width: 100%;
    min-height: 295px;
    padding: 20px;
    font-family: 'Roboto', arial, sans-serif;
    background-color: #f6f6f6;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .pe_jumbo_tron_container {
        text-align: center;
        max-width: 670px;
        width: 100%;
        padding: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        h1 {
            margin:0 0 10px 0;
            font-family: 'Roboto', arial, sans-serif;
            font-weight: 300;
            font-size: 40px;
            color: #555;
        }
    }
}

/*core css*/
.flex_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row_center {
    -webkit-align-items: center;
    align-items: center;
}

.justify_center {
    -webkit-justify-content: center;
    justify-content: center;
}

//PE Sub Nav
//
//  Markup:
// <section class="pe_sub_nav flex_row row_center justify_center">
//     <a href="#" class="pe_sub_nav_item pe_sub_nav_item_active">Item 1</a>
//     <a href="#" class="pe_sub_nav_item">Item 2</a>
//     <a href="#" class="pe_sub_nav_item">Item 3</a>
//     <a href="#" class="pe_sub_nav_item">Item 4</a>
//     <div class="pe_sub_nav_item pe_drop_menu">More
//         <div class="pe_drop_menu_block position_right">
//             <a href="#" class="pe_drop_menu_item">Sub Item 1</a>
//             <a href="#" class="pe_drop_menu_item">Sub Item 2</a>
//             <a href="#" class="pe_drop_menu_item">Sub Item 3</a>
//         </div>
//     </div>
// </section>
//
// Styleguide 1.0.4
.pe_sub_nav {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: #f6f6f6;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .pe_sub_nav_item {
        position: relative;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: 500;
        color: #444;
        padding: 15px;
        margin: 0 5px;
        text-transform: uppercase;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            background-color: #fdfdfd;
        }
    }
    .pe_sub_nav_item_active {
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background-color: #e70000;
        }
    }
}
.pe_drop_menu {
    &:hover {
        .pe_drop_menu_block {
            display: block;
        }
    }
}

.pe_drop_menu_block {
    display: none;
    position: absolute;
    top: 80%;
    min-width: 150px;
    background-color: #fcfcfc;
    border: thin solid #ddd;
    border-radius: 4px;
    padding-top: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .pe_drop_menu_item {
        color: #444;
        display: block;
        padding: 5px 10px;
        font-size: 12px;
        &:hover {
            color: white;
            text-decoration: none;
            background-color: #0CBCAA;
        }
    }
}

/*core css*/
.position_right {
    right: 0;
}

.flex_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row_center {
    -webkit-align-items: center;
    align-items: center;
}

.justify_center {
    -webkit-justify-content: center;
    justify-content: center;
}

.even_spaced {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

//PE Newsboard brand card
//
//  Markup:
// <section class="brand_card_container flex_row flex_wrap">
//     <div class="brand_card">
//         <a href="#" class="brand_card_content">
//             <div class="brand_card_img_container flex_row row_center justify_center">
//                 <img class="sizer" src="/assets/img/sizer300.png" />
//                 <img class="brand_card_logo" src="/assets/img/logo_placeholder.png" /></div>
//             <div class="brand_card_name">Brand Name</div>
//         </a>
//     </div>
//     <div class="brand_card">
//         <a href="#" class="brand_card_content">
//             <div class="brand_card_img_container flex_row row_center justify_center">
//                 <img class="sizer" src="/assets/img/sizer300.png" />
//                 <img class="brand_card_logo" src="/assets/img/logo_placeholder.png" /></div>
//             <div class="brand_card_name">Brand Name</div>
//         </a>
//     </div>
//     <div class="brand_card">
//         <a href="#" class="brand_card_content">
//             <div class="brand_card_img_container flex_row row_center justify_center">
//                 <img class="sizer" src="/assets/img/sizer300.png" />
//                 <img class="brand_card_logo" src="/assets/img/logo_placeholder.png" /></div>
//             <div class="brand_card_name">Brand Name</div>
//         </a>
//     </div>
//     <div class="brand_card">
//         <a href="#" class="brand_card_content">
//             <div class="brand_card_img_container flex_row row_center justify_center">
//                 <img class="sizer" src="/assets/img/sizer300.png" />
//                 <img class="brand_card_logo" src="/assets/img/logo_placeholder.png" /></div>
//             <div class="brand_card_name">Brand Name</div>
//         </a>
//     </div>
// </section>
//
// Styleguide 1.0.5
.brand_card_container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    .brand_card_content {
        color:#111;
        display: block;
        border: thin solid #ddd;
        border-radius: 2px;
        &:hover {
            text-decoration: none;
        }
    }
    .brand_card {
        position: relative;
        max-width: 310px;
        width: 25%;
        padding: 0 20px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        .brand_card_img_container {
            position: relative;
            max-width: 268px;
            width:100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            .sizer {
                max-width: 100%;
            }

            .brand_card_logo {
                position: absolute;
                width: 100%;
                max-width: 80%;
                left:50%;
                top:50%;
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
            }
            @media only screen and (max-width: 767px) {
                max-width: none;
            }
        }
        .brand_card_bg_img {
            width: 100%;
            max-height: 268px;
            height: 20vw;
            background-position: center !important;
            -moz-background-size: contain !important;
            -o-background-size: contain !important;
            -webkit-background-size: contain !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background-position: top center !important;

            @media only screen and (max-width: 767px) {
                height:35vw;
            }

            @media only screen and (max-width: 480px) {
                height:60vw;
            }
        }
        .brand_card_name {
            padding: 15px;
            font-weight: 500;
            font-family: 'Roboto', arial, sans-serif;
            font-size: 22px;
            border-top: thin solid #ddd;
        }
        @media only screen and (max-width: 767px) {
            width: 50%;
            max-width: none;
        }
        @media only screen and (max-width: 480px) {
            width: 100%;
        }
    }
}

/*core css*/
.flex_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flex_wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row_center {
    -webkit-align-items: center;
    align-items: center;
}

.justify_center {
    -webkit-justify-content: center;
    justify-content: center;
}

//Fonts
//
// Roboto font - link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"
// Material font icons - link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
//
// Markup:
// <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
// <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
//
// Styleguide 1.0.6


// Colors
//
// markup:
// #17b9a9
// #e9e625
// #ed2185
// #c71e56
// #3e215a
// #4f5693
// #17132a
//
// sg-wrapper:
// <div style="background-color:#17b9a9; text-align:center; color:white;padding:20px;border-radius:4px;margin-bottom:10px;">
//   #17b9a9
// </div>
// <div style="background-color:#e9e625; text-align:center; color:white;padding:20px;border-radius:4px;margin-bottom:10px;">
//   #e9e625
// </div>
// <div style="background-color:#ed2185; text-align:center; color:white;padding:20px;border-radius:4px;margin-bottom:10px;">
//   #ed2185
// </div>
// <div style="background-color:#c71e56; text-align:center; color:white;padding:20px;border-radius:4px;margin-bottom:10px;">
//   #c71e56
// </div>
// <div style="background-color:#3e215a; text-align:center; color:white;padding:20px;border-radius:4px;margin-bottom:10px;">
//   #3e215a
// </div>
// <div style="background-color:#4f5693; text-align:center; color:white;padding:20px;border-radius:4px;margin-bottom:10px;">
//   #4f5693
// </div>
// <div style="background-color:#17132a; text-align:center; color:white;padding:20px;border-radius:4px;margin-bottom:10px;">
//   #17132a
// </div>
//
// Styleguide 1.0.7
.bg_clr_green {
    background-color: #17b9a9;
}
.bg_clr_red {
    background-color: #c71e56;
}
.bg_clr_purple {
    background-color: #3e215a;
}
.bg_clr_ltpurple {
    background-color: #4f5693;
}
.bg_clr_dkpurple {
    background-color: #17132a;
}
.bg_clr_yellow {
    background-color: #e9e625;
}
.bg_clr_pink {
    background-color: #ed2185;
}